<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <input type="radio" id="animal" value="animal" v-model="loveType" />
      <label for="animal">Animal</label>
      <input type="radio" id="flower" value="flower" v-model="loveType" />
      <label for="flower">Flower</label><br />

      <template v-if="isLoveTypeAnimal">
        <div>
          <input type="checkbox" id="dog" value="Dog" v-model="loveList" />
          <label for="dog">Dog</label>
          <input type="checkbox" id="cat" value="Cat" v-model="loveList" />
          <label for="cat">Cat</label>
          <input type="checkbox" id="fish" value="Fish" v-model="loveList" />
          <label for="fish">Fish</label><br />
        </div>
      </template>

      <template v-else-if="isLoveTypeFlower">
        <div>
          <input type="checkbox" id="rose" value="Rose" v-model="loveList" />
          <label for="rose">Rose</label>
          <input type="checkbox" id="lotus" value="Lotus" v-model="loveList" />
          <label for="lotus">Lotus</label>
          <input type="checkbox" id="mali" value="Mali" v-model="loveList" />
          <label for="mali">Mali</label><br />
        </div>
      </template>

      <template v-else>
          <div>
              Please select one!!
          </div>
      </template>

      <span>love Type : {{ loveType }}</span><br />
      <span>love List : {{ loveList }}</span><br />
      <span>love List Length: {{ getLoverListLength }}</span><br />
    </div>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          loveType: "",
          loveList: []
        },

        computed: {
            getLoverListLength:function(){
                return this.loveList.length;
            },
            isLoveTypeAnimal:function(){
                return this.loveType=='animal'
            },
            isLoveTypeFlower:function(){
                return this.loveType=='flower'
            }
            
        },

        watch: {
          loveType: function(newValue, oldValue) {
            this.loveList = [];
          }
        }
      });
    </script>
  </body>
</html>
